* {
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  margin: 0;
}

#main-section {
  background: url("/Image/ds_main.png") no-repeat;
  width: 100%;
  height: 512px;
  padding: 10px;
}

#Machine_Learning {
  color: #0a1224;
  text-align: left;
  padding: 10px 20px;
}

#main-section h1 {
  color: #160a25;
  font-family: "Exo2", sans-serif;
}
/* Style top navigation */

.main-header {
  width: 100%;
  background: #2f1c47;
  margin: 0 auto;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 auto;
  /* width: 80%; */
}

.main-header__brand {
  color: azure;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  display: inline-block;
  padding-top: 25px;
  float: left;
}

.main-nav {
  display: inline-block;

  width: calc(100% - 13px);
  vertical-align: middle;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.main-nav__item {
  display: inline-block;
  margin: 0 8px;
  padding-bottom: 25px;
}

.main-nav__item a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
  padding-top: 2px 0;
}

ol li {
  font-weight: bold;
}

ul li {
  font-weight: normal;
}

footer {
  position: relative;
  background-color: #2f1c47;
  height: 60px;
  top: 350px;
  line-height: 50px;
  color: azure;
  text-align: center;
}
